openapi: 3.1.0
info:
  title: PoPP-Service - authentication with the health ID
  description: |
    This interface enables user authentication with the health ID via the insured person's device using
    the health insurance company's industry-specific identity provider (IDP).
    After successful authentication, the PoPP service creates saves a PoPP dataset using KVNR and IK number from the 
    ID Token generated by the IDP.
    PoPP-Service generate a PoPP token from PoPP dataset, if ehealth institution is online 
    (i.e., the e-health institution is currently authenticated). 
    The Popp-Module receives a status at the end of the PoPP token generation process.

    Communication between the PoPP-Modul and the PoPP-Service does not occur directly. Zeta components are always used.

    **General conditions**:</br> 
    For all operations if applicable:
    - error responses may be extended by helpful information about the error condition in _errorDetail_

    **Prerequisites**:</br>
    For using healthId
    - The sectoral IDP of Health insurance is registered with the TI-Federation
    - The zeta-guard popp authorization server is registered with the TI-Federation
    - The health insurance ID is set up for the insured person. 

        
    **Retry interval**:</br>
    The following retry intervals are suggested in case of an error response:<br>
    - '500' Internal Error
      - approx. 10 minutes

  contact:
    name: gematik GmbH
    url: 'https://www.gematik.de'

  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'

  version: 0.0.1

  # version history:
  # ----------------
  # version 0.0.1
  #   - initial version for review

servers:
- url: https://popp-service.de

tags:
- name: Check-In with Health-ID Authorization
  description: |
   The insured person uses his device to authenticate himself to the health insurance company's sectoral IDP (GesundheitsID).
   The zeta-guard popp authorization server must know the address of the IDP (iss-idp) with which the insured is registered.
   For this reason, it is possible to use a list of registered IDPs (insurance companies) in the popp-module or 
   in an app that uses the popp module to select health insurance companies.
      
   Authenticating a user against the IDP is a task of the authenticator-module belonging to the IDP on the insured person’s device. 

   A successful login provides an access token and causes an authorized user allowing access to the 
   protected resource (PoPP-Service) to generate a PoPP-Token.   
  
externalDocs:
  description: 'Specification: gemSpec_PoPP_Service, gemSpec_PoPP_Modul, gemSpec_ZETA'
  url: https://gemspec.gematik.de/docs/gemSpec/

paths:
  /popp/patient/api/checkin/v1/checkin-request-healthid:
    get:
      parameters:
        - $ref: '#/components/parameters/useragent'
        - $ref: '#/components/parameters/telematikid'
        - $ref: '#/components/parameters/workplaceid'
        - $ref: '#/components/parameters/kvnr'
        - $ref: '#/components/parameters/iknr'
   
      tags:
        - Check-In with Health-ID Authorization
      operationId: checkInGID
      summary: Create PoPP-Token after authentication with Health-ID 
      description: |
        Based on the parameters, the PoPP service creates a PoPP data record. 
        If the LEI can be verified with the telematics ID, a PoPP token is generated. 
        The PoPP service sends status information regarding the PoPP token generation to the PoPP module.
      
      responses:
        '200':
          $ref: '#/components/responses/StatusPoppTokenGenerationResponse200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: '#/components/responses/Error404NotFound'
        '500':
          $ref: '#/components/responses/Error500InternalError'

      security: 
        - bearerAuthHealthId: []    
  
components:
  parameters:
    useragent:
      name: x-useragent
      in: header
      description: user agent information
      required: true
      schema:
        $ref: '#/components/schemas/UserAgentSchema'
    kvnr:
      name: x-kvnr
      in: header
      description: kvnr of the insured person
      required: true
      schema:
        $ref: '#/components/schemas/KVNRSchema'
    iknr:
      name: x-iknr
      in: header
      description: IK-Nummer of the insurance company
      required: true
      schema:
        $ref: '#/components/schemas/IKNrSchema'        
    telematikid:
      name: telematikid
      in: query
      description: Telematik-ID of a ehealth institution
      required: true
      schema:
        $ref: '#/components/schemas/TelematikIDSchema'
    workplaceid:
      name: workplaceid
      in: query
      description: WorkplaceID of a ehealth institution
      required: true
      schema:
        $ref: '#/components/schemas/WorkplaceIDSchema'
    

  responses:
    StatusPoppTokenGenerationResponse200:
      description: |
        HttpStatus.OK (200) and status information about PoPP-Token Generation Process
        - success: - PoPP data record and PoPP-Token was generated and sent to health company
        - pending: - PoPP data record was generated but not sent to health company yet, PoPP-Server is trying to send the PoPP-Token
        - canceled: - The process for generating the PoPP token was aborted due to an error or because transmission 
        to the healthcare company was not possible within 48 hours.
        Additionally, in the "PoPP token generation status", a message with information (e.g., error information) is transmitted and 
        the ID of PoPP data record.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatusPoPPTokenGenerationSchema'  
  
    Error400BadRequest:
      description: HttpStatus.BAD_REQUEST (400)
      content:
        application/json:
          example:
            errorCode: malformedRequest
          schema:
            $ref: '#/components/schemas/ErrorSchema'

    
    Error403Forbidden:
      description: HttpStatus.FORBIDDEN (403)
      content:
        application/json:
          example:
            errorCode: invalAuth
          schema:
            $ref: '#/components/schemas/ErrorSchema'
    
    Error404NotFound:
      description: HttpStatus.NOT_FOUND (404)
      content:
        application/json:
          example:
            errorCode: noResource
          schema:
            $ref: '#/components/schemas/ErrorSchema'

    
    Error500InternalError:
      description:  HttpStatus.INTERNAL_SERVER_ERROR (500)
      content:
        application/json:
          example:
            errorCode: internalError
          schema:
            $ref: '#/components/schemas/ErrorSchema'

  schemas:
    UserAgentSchema:
      description: "Information about client software with: ClientId(20 characters) + / + VersionNumber (1 to 15 characters)."
      type: string
      pattern: '^[a-zA-Z0-9\-]{1,20}\/[a-zA-Z0-9\-\.]{1,15}$'
      examples: [CLIENTID1234567890AB/2.1.12-45]

    KVNRSchema:
      description: "Non-changing part of the KVNR of the insured person – the first character must be a letter, the next 9 characters must be numbers."
      type: string
      pattern: '^[A-Z]{1}[0-9]{9}$'
      examples: [L123456789]

    IKNrSchema:
      description: "Institution number (9 digits)."
      type: string
      pattern: '^[0-9]{9}$'
      examples: [123456789]

    TelematikIDSchema:
      description: "Telematik-ID of a health company"
      type: string
      examples: [1-10000100001111]

    WorkplaceIDSchema:
      description: "WorkplaceID of a health company."
      type: string
      pattern: '^[^\/:*?"<>|]{64}$'
      examples: [Arbeitsplatz 1]        
   
    StatusPoPPTokenGenerationSchema:
      description: The Popp service sends status information regarding Popp token generation.
      type: object
      properties:
        state:
          description: The status of PoPP token generation 
          type: string
          pattern: '(\b(success|pending|canceled)\b)'
          examples: [success, pending, canceled]
        message:
          description: Message with informations about popp-token generation 
          type: string
          examples: ["Die Zustellung des PoPP-Token an Einrichtung war innerhalb von 48h nicht erfolgreich."]
        id: 
          description: The ID of PoPP data record 
          type: string
          examples: [237cc7b7-f85e-42c3-981c-ad7f9d97ddca]

    ErrorSchema:
      description: Error object with additional information about the occurred error
      type: object
      properties:
        errorCode:
          description: Error condition specifier
          type: string
        errorDetail:
          description: Additional details regarding the error condition (if applicable)
          type: string
      required:
        - errorCode

  securitySchemes:
    bearerAuthHealthId:
      description: ehealthId-check Access-Token
      type: http
      scheme: bearer
      bearerFormat: JWT     
