openapi: 3.2.0
info:
  title: PoPP-Service - mobile CheckIn
  description: |
    This interface enables user authentication with the health ID via the
    mobile of the insured person using the health insurance company's
    industry-specific identity provider (IDP).
    At first users choose the Telematik-Id of an SM(C)-B owner.
    The PoPP-Module sends the Telematik-ID to the PoPP-Service.
    The PoPP-Service initiates a FHIRE-VZD search and returns additional
    information about the health company to the PoPP-Module.
    After successful authentication ot the user, the PoPP-Service creates and
    saves a PoPP-Token dataset using KVNR and IK number from the ID Token
    generated by the IDP.
    Additionally the PoPP-Service creates and saves a PoPP state dataset with
    the status of the PoPP-Token generation process.
    If the health company accesses the PoPP-Service, then the PoPP-Service
    generates a PoPP-Token from the PoPP-Token dataset.
    After the PoPP-Token is sent to the health company the PoPP-Service updates
    the state of the PoPP dataset.
    The PoPP-Module receives a status after any change of PoPP state dataset.

    Communication between PoPP-Modul and PoPP-Service does not occur directly.
    All communication goes through ZETA components.

    **General conditions**:</br> 
    For all operations if applicable:
    - error responses may be extended by helpful information about the error
      condition in _errorDetail_

    **Prerequisites**:</br>
    For insurant and representatives
    - the PoPP-Modul App is a client registered at ZETA-Guard
    - the PoPP ZETA-Guard authorization server has issued a client access token
      to the ZETA-SDK (PoPP-Modul App)
    
    For validation of the health company
    - a valid FHIR-VZD request is generated by the PoPP-Module or an app using the PoPP-module 

    For using healthId
    - The sectoral IDP of Health insurance is registered with the TI-Federation
    - The PoPP ZETA-Guard authorization server is registered with the TI-Federation
    - The health insurance ID is set up for the insured person. 
    
    
    **Retry interval**:</br>
    The following retry intervals are suggested in case of an error response:<br>
    - '500' Internal Error
      - approx. 10 minutes

  contact:
    name: gematik GmbH
    url: 'https://www.gematik.de'

  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'

  version: 0.0.1

  # version history:
  # ----------------
  # version 0.0.1
  #   - initial version for review

servers:
  - url: https://popp-service.de

tags:
  - name: health company informations
    description: |
      The information about a healthcare company is used to obtain user consent. 
      Without this consent, the healthcare company cannot receive a PoPP-Token.

  - name: Online Check-in
    description: |
      The insured person uses a mobile for authentication to the health
      insurance company's sectoral IDP (GesundheitsID).
      The PoPP ZETA-guard authorization server must know the address of the IDP
      (iss-idp) with which the insured is registered.
      For this reason, it is possible to use a list of registered IDPs
      (insurance companies) in the PoPP-Module or in an app that uses the
      PoPP-Module to select health insurance companies.
      Authenticating an insured person against the IDP is a task of the
      authenticator-module belonging to the IDP on the mobile of the insured
      person. 
      A successful authorization provides an access token and allows the
      authorized user access to the PoPP-Service for PoPP-Token generation.
  - name: status popp
    description: |
      The insured person authenticated themselves for check-in using their
      health ID or by authenticating a health card. 
      A PoPP data record was created in the PoPP-Service, but a PoPP-Token is
      not (yet) delivered to a health company. 
      The PoPP-Module uses the ZETA components to query the PoPP-Service to
      determine if the delivery status has changed in the meantime. 
      For this purpose, the PoPP-Module transmits the ID of the PoPP data record
      to the PoPP-Service.
      The PoPP-Service then provides the PoPP-Module with the current check-in
      status.    

externalDocs:
  description: 'Specification: gemSpec_PoPP_Service, gemSpec_PoPP_Module, gemSpec_ZETA'
  url: https://gemspec.gematik.de/docs/gemSpec/

paths:
  /popp/patient/api/v1/mobile/fhirvzdsearch:
    get:
      parameters:
        - $ref: '#/components/parameters/fhirVzdSearchRequest'

      tags:
        - health company informations
      operationId: loadFhirVzdInformation
      summary: Load informations for a Telematik-ID or search criteria for giving user consent
      description: |
        FHIR-VZD request to retrieve data on a healthcare company.
        The PoPP-Service obtains the access token for the FHIR-VZD service
        server-side. The PoPP-Module must not provide this token as a request
        header.
        If no healthcare company matches the search criteria, the service
        returns HTTP 404 (Not Found).
        If the search results contain more than 100 entries, the service
        returns HTTP 422 (Unprocessable Content). The PoPP-Module must adjust
        the search criteria and send the request again.

      # No client authentication is required for this operation. The Bearer
      # token used for the upstream FHIR-VZD request is obtained internally.
      security: []

      responses:
        '200':
          $ref: '#/components/responses/fhirVzdSearchResponse200'
        '400':
          $ref: '#/components/responses/error400BadRequest'
        '401':
          $ref: '#/components/responses/error401UnauthorizedError'
        '403':
          $ref: '#/components/responses/error403Forbidden'
        '404':
          $ref: '#/components/responses/error404NotFound'
        '422':
          $ref: '#/components/responses/error422TooManyResults'
        '500':
          $ref: '#/components/responses/error500InternalError'

  /popp/patient/api/v1/mobile/checkin:
    post:
      tags:
        - Online Check-in
      operationId: checkInGID
      summary: Create PoPP-Token after authentication with Health-ID
      description: |
        Based on the parameters, the PoPP-Service creates a PoPP data record. 
        If the health company can be verified with the Telematik-ID, then a
        PoPP-Token is generated. 
        The PoPP-Service sends status information regarding the PoPP-Token
        generation to the PoPP-Module.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckInRequestSchema'

      parameters:
        - $ref: '#/components/parameters/useragent'
        - $ref: '#/components/parameters/trustedKvnr'
        - $ref: '#/components/parameters/trustedIknr'

      responses:
        '201':
          $ref: '#/components/responses/statusPoppTokenGenerationResponse201'
        '400':
          $ref: '#/components/responses/error400BadRequest'
        '404':
          $ref: '#/components/responses/error404NotFound'
        '500':
          $ref: '#/components/responses/error500InternalError'

  /popp/patient/api/v1/mobile/checkin/{poppStatusRecordId}:
    get:
      tags:
        - status popp
      operationId: readStatusPoPP
      summary: Read the status of PoPP-Token generation to a poppStatusRecordId
      description: |
        The poppStatusRecordId identifies the PoPP record of the check-in
        process. 
        The PoPP-Service reads the record and generates a response with the
        current status of the PoPP-Token generation.

      parameters:
        - $ref: '#/components/parameters/useragent'
        - name: poppStatusRecordId
          in: path
          description: |
            poppStatusRecordId identifies the PoPP state data record of the
            check-in process
          required: true
          schema:
            description: Identifier of the Check-in PoPP state data record
            type: string
            format: uuid
            examples: "237cc7b7-f85e-42c3-981c-ad7f9d97ddca"

      responses:
        '200':
          $ref: '#/components/responses/statusPoppTokenGenerationResponse200'
        '400':
          $ref: '#/components/responses/error400BadRequest'
        '404':
          $ref: '#/components/responses/error404NotFound'
        '500':
          $ref: '#/components/responses/error500InternalError'


components:
  parameters:
    useragent:
      name: x-useragent
      in: header
      description: |
        Identifies the PoPP-Module client application and its version.
        The value uses the format ClientId/VersionNumber.
      required: true
      schema:
        $ref: '#/components/schemas/UserAgentSchema'

    fhirVzdSearchRequest:
      name: searchrequest
      in: query
      description: FHIR-VZD request to retrieve data on a healthcare company
      required: true
      schema:
        $ref: '#/components/schemas/FhirVzdSearchRequestSchema'

    trustedKvnr:
      name: x-kvnr
      in: header
      x-injected-by: ZETA Guard
      x-client-visible: false
      description: |
        KVNR of the insured person,  
        the mobile client must not set this header,  
        it will be set by ZETA after User Authorization Prozess.
      required: true
      schema:
        $ref: '#/components/schemas/KVNRSchema'

    trustedIknr:
      name: x-iknr
      in: header
      x-injected-by: ZETA Guard
      x-client-visible: false
      description: |
        IK-Nummer of the insurance company,  
        the mobile client must not set this header,  
        it will be set by ZETA after User Authorization Prozess.
      required: true
      schema:
        $ref: '#/components/schemas/IKNrSchema'

    telematikId:
      name: telematikId
      in: query
      description: Telematik-ID of a ehealth institution
      required: true
      schema:
        $ref: '#/components/schemas/TelematikIdSchema'
    workplaceId:
      name: workplaceId
      in: query
      description: workplace ID of a ehealth institution
      schema:
        $ref: '#/components/schemas/WorkplaceIdSchema'

    poppStatusRecordId:
      name: poppStatusRecordId
      in: path
      description: |
        poppStatusRecordId identifies the PoPP state data record of the check-in
        process
      required: true
      schema:
        description: "Identifier of the Check-in PoPP state data record"
        type: string
        format: uuid
        examples: "237cc7b7-f85e-42c3-981c-ad7f9d97ddca"

  responses:
    fhirVzdSearchResponse200:
      description: HttpStatus.OK (200)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FhirVzdSearchResponse200Schema'


    statusPoppTokenGenerationResponse200:
      description: |
        HttpStatus.OK (200) and status information about PoPP-Token Generation Process
        - success: - PoPP data record and PoPP-Token generated and sent to health company
        - pending: - PoPP data record was generated but not yet sent to health company 
        PoPP-Server is trying to send the PoPP-Token
        - canceled: - The process for generating the PoPP-Token was aborted.
        Abbortion occurred either due to an error, because transmission to the 
        healthcare company was not possible within the expired deadline, 
        or because the healthcare company rejected the PoPP-Token.
        The response also contains the ID of the created message record for the
        PoPP record.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatusPoPPTokenGenerationSchema'

    statusPoppTokenGenerationResponse201:
      description: |
        HttpStatus.CREATED (201) - the PoPP data record was created in the PoPP-Service.
        The response also contains the ID of the created message record for the PoPP record.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatusPoPPTokenGenerationSchema'

    error400BadRequest:
      description: HttpStatus.BAD_REQUEST (400)
      content:
        application/json:
          example:
            errorCode: malformedRequest
          schema:
            $ref: '#/components/schemas/ErrorType'

    error401UnauthorizedError:
      description: HttpStatus.Unauthorized (401)
      content:
        application/json:
          example:
            errorCode: unauthorized
          schema:
            $ref: '#/components/schemas/ErrorType'

    error403Forbidden:
      description: HttpStatus.FORBIDDEN (403)
      content:
        application/json:
          example:
            errorCode: invalAuth
          schema:
            $ref: '#/components/schemas/ErrorType'

    error404NotFound:
      description: HttpStatus.NOT_FOUND (404)
      content:
        application/json:
          example:
            errorCode: noResource
          schema:
            $ref: '#/components/schemas/ErrorType'

    error422TooManyResults:
      description: HttpStatus.UNPROCESSABLE_CONTENT (422) - the search result contains more than 100 entries.
      content:
        application/json:
          example:
            errorCode: tooManyResults
            errorDetail: Search criteria must be refined because the result contains more than 100 entries.
          schema:
            $ref: '#/components/schemas/ErrorType'


    error500InternalError:
      description: HttpStatus.INTERNAL_SERVER_ERROR (500)
      content:
        application/json:
          example:
            errorCode: internalError
          schema:
            $ref: '#/components/schemas/ErrorType'

  schemas:
    UserAgentSchema:
      description: |
        Information about client software with:
        ClientId(20 characters) + / + VersionNumber (1 to 15 characters)
      type: string
      pattern: '^[a-zA-Z0-9\-]{1,20}\/[a-zA-Z0-9\-\.]{1,15}$'
      example: CLIENTID1234567890AB/2.1.12-45

    FhirVzdSearchRequestSchema:
      description: FHIR-VZD request to retrieve data on a healthcare company.
      type: string
      format: uri
      example: 'https://fhir-directory-ref.vzd.ti-dienste.de/search/HealthcareService?organization.active=true&identifier=https://gematik.de/fhir/sid/telematik-id%7C1-2arvtst-ap000052'

    FhirVzdSearchResponse200Schema:
      description: |
        The FHIR-VZD response contains information about a healthcare company.
      type: object
      required:
        - practitioners
      properties:
        practitioners:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/FhirVzdSearchResultItemSchema'

    FhirVzdSearchResultItemSchema:
      description: Information about one healthcare company.
      type: object
      required:
        - telematikId
        - name
      properties:
        name:
          type: string
          description: Name of the healthcare company
          example: "Apotheke am Hauptbahnhof"
        telematikId:
          $ref: '#/components/schemas/TelematikIdSchema'
        iknr:
          $ref: '#/components/schemas/IKNrSchema'
        address:
          type: string
          description: Address of the healthcare company
          example: "Hauptbahnhofstraße 1, 12345 Musterstadt"
        contact:
          type: string
          description: Contact information of the healthcare company
          example: "Telefon: 01234 567890, E-Mail"

    CheckInRequestSchema:
      description: |
        The request contains the Telematik-ID for which a PoPP data record
        should be created. 
        Optionally, the request may contain a Workplace ID.
      type: object
      required: [ telematikId ]
      properties:
        telematikId:
          $ref: '#/components/schemas/TelematikIdSchema'

        workplaceId:
          $ref: '#/components/schemas/WorkplaceIdSchema'
      example:
        telematikId: "1-SMC-B-Testkarte--883110000168757"
        workplaceId: "Arbeitsplatz 1"

    KVNRSchema:
      description: |
        Never-changing part of the KVNR of the insured person – the first
        character is a letter, the next 9 characters are decimal digits.
      type: string
      pattern: '^[A-Z]{1}[0-9]{9}$'
      examples: [ L123456789 ]

    IKNrSchema:
      description: Institution number (9 digits).
      type: string
      pattern: '^[0-9]{9}$'
      example: "123456789"

    TelematikIdSchema:
      description: Telematik-ID of a healthcare institution
      type: string
      example: "1-SMC-B-Testkarte--883110000168757"

    WorkplaceIdSchema:
      description: Schema of the WorkplaceID of a ehealth institution
      type: string
      pattern: '^[^\/:*?"<>|]{1,64}$'
      examples:
        name:
          value: "Arbeitsplatz 1"
          summary: a human readable workplace ID
        uuid:
          value: "019f4c0e-da55-7d3b-93e6-543c7aa723bd"
          summary: a UUID like workplace ID

    StatusPoPPTokenGenerationSchema:
      description: |
        The PoPP-Service sends status information regarding PoPP-Token generation.
      type: object
      properties:
        state:
          $ref: '#/components/schemas/StateSchema'
        poppStatusRecordId:
          $ref: '#/components/schemas/PoppStatusRecordIdSchema'

    StateSchema:
      description: The status of PoPP-Token generation
      type: string
      enum:
        - pending
        - success
        - canceled

    PoppStatusRecordIdSchema:
      description: |
        ID of the message record containing the check-in status information
      type: string
      format: uuid
      example: "237cc7b7-f85e-42c3-981c-ad7f9d97ddca"

    ErrorType:
      description: |
        error object with additional information about the occurred error
      type: object
      properties:
        errorCode:
          description: Error condition specifier
          type: string
        errorDetail:
          description: |
            additional details regarding the error condition (if applicable)
          type: string
      required:
        - errorCode
