openapi: 3.1.0
info:
  title: PoPP Authorization Server
  description: |
    This interface provides access to PoPP Authorization Server.
    Via this interface, client systems (popp-fdv) can carry out user authentication 
    with the health ID using the insured person's device through the health insurance company's sectoral IDP.
    

    **General conditions**:</br> 
    For all operations if applicable:
    - error responses may be extended by helpful information about the error condition in _errorDetail_

    **Prerequisites**:</br>
    For insurant and representatives
    - The sectoral IDP of Health insurance is registered with the TI-Federation
    - The popp authorization server is registered with the TI-Federation
    - The popp-fdv client is registered with popp authorization server 
    
    
    **Retry interval**:</br>
    The following retry intervals are suggested in case of an error response:<br>
    - '500' Internal Error
      - approx. 10 minutes

  contact:
    name: gematik GmbH
    url: 'https://www.gematik.de'

  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'

  version: 0.0.1

  # version history:
  # ----------------
  # version 0.0.1
  #   - initial version for review

servers:
- url: https://popp-service.de

tags:
- name: Authorization Gid
  description: |
   The insured person uses his device to authenticate himself to the health insurance company's sectoral IDP (GesundheitsID).
   The popp authorization server must know the address of the IDP (iss-idp) with which the insured is registered.
   For this reason, it is possible to view a list of registered IDPs (insurance companies) on popp-fdv.
   If the Popp authorization server does not know the IDP address of the calling popp-fdv, the insured person 
   must select their health insurance company in the popp-fdv.
   
   Authenticating a user against the IDP is a task of the authenticator belonging to the IDP on the insured person’s device. 

   A successful login provides an popp-fdv access token and causes an authorized user allowing access to the 
   protected resource (PoPP-Service) to get an OTP-Challenge.
  
externalDocs:
  description: 'Specification: gemSpec_PoPP_Service, gemSpec_PoPP_FdV'
  url: https://gemspec.gematik.de/docs/gemSpec/

paths:
  /popp/authz/auth/v1/sendAuthorizationRequestGid:
    parameters:
      - $ref: '#/components/parameters/useragent'
    post:
      tags:
        - Authorization Gid
      operationId: sensAuthorizationRequestGid
      summary: (sendAuthorizationRequestGid) Send authorization request for authentication with GesundheitsID 
      externalDocs:
        description: 'gemSpec_IDP_Sek, table "Authorization Request von Anwendungsfrontend zum Authorization-Server"'
        url: https://gemspec.gematik.de/docs/gemSpec/
      description: | 
        Sends an authorization request to the authorization service for authentication with GesundheitsID.
       
        **Client**:</br>
        A registered popp-fdv client must send an OAuth-compliant request to the Popp authorization server.
        To defend against attacks, the popp-fdv client must use pkce (Proof Key for Code Exchange). 
        The code challenge method (code_challenge_method) must be “S256”. The response type (response_type) must be "code".<br/>
       
        **Provider**:</br>
        The poppp authorization server shall send a pushed authorization request (PAR) to the IDP 
        (see: gemSpec_IDP_Sek, table "Parameter Pushed Authorization Request").
        To defend against attacks, the popp authorization server must use pkce (Proof Key for Code Exchange) too. 
        The code challenge method (code_challenge_method) must be “S256”. The response type (response_type) must be "code".
        It is neccecary to generate and propagate a "nonce" parameter.
        The acr-value in the PAR must be "gematic_ehealth_loa_high", the scope parameter used in the PAR must be "urn:telematik:versicherter".  

        The authorization server state value and clientid used for the PAR shall occur in the URI-PAR response of the IDP.
        After successful authentication popp authorization server create an authorization code for the calling popp-fdv.

        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 | successful ||
        | Request does not match schema | 400 | malformedRequest |  |
        | clientid value mismatch | 403 | invalData | popp authorization server didn't know clientid value |
        | Invalid URI (idp-iss) | 404 | noResource | uri for idp do not exist or ist not registered on TI-Federation|
        | Any other error | 500 | internalError ||
 
         </br>
        | Postconditions                        | Remarks |
        |---------------------------------------|---------|
        | popp-fdv have to exchange authorization code against access token |  |
      
      requestBody:
        description: >-
            Authorization Request is an OAuth complaint request used Proof Key for Code Exchange by OAuth Public Clients (see https://datatracker.ietf.org/doc/html/rfc763).
        required: true
        content: 
          application/json:
           schema: 
             $ref: '#/components/schemas/AuthorizationRequestGidSchema'
      
      responses:
        '200':
          $ref: '#/components/responses/AuthorizationResponse200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: '#/components/responses/Error404NotFound'
        '500':
          $ref: '#/components/responses/Error500InternalError'
 
  /popp/authz/token/v1/sendAuthCodeFdV:
    parameters:
      - $ref: '#/components/parameters/useragent'
    post:
      tags:
        - Authorization Gid
      operationId: sendAuthCodeFdV
      summary: (sendAuthCodeFdV) Send token request to obtain an access token from popp authorization server
      description: | 
        Sends an token request against popp authorization server.

         </br>
        | Preconditions                        | Remarks |
        |---------------------------------------|---------|
        | popp-fdv has an authorization code was created by the popp auhtorization server |  |
       
        **Client**:</br>
        A registered popp-fdv client must send token requst against authorization server to get an access token.
        The parameter grand type (grant_type) must be "authorization_code". <br/>
       
        **Provider**:</br>
        The poppp authorization server checks the authorization code and the code verifier. Depending on the authorization code  
        the popp authorization server sends a popp-fdv access token to the popp-fdv.  

      
        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 | successful ||
        | Request does not match schema | 400 | malformedRequest |  |
        | mismatch authorizationcode or code verifier or clientId | 403 | invalData | popp authorization server didn't know clientid value or pkce proof failed |
        | Any other error | 500 | internalError ||
 
      
      requestBody:
        description: >-
            Token Request is an OAuth complaint request used Proof Key for Code Exchange by OAuth Public Clients (see https://datatracker.ietf.org/doc/html/rfc763).
        required: true
        content: 
          application/json:
           schema: 
             $ref: '#/components/schemas/TokenRequestSchema'
      
      responses:
        '200':
          $ref: '#/components/responses/TokenResponse200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '500':
          $ref: '#/components/responses/Error500InternalError'


components:
  parameters:
    useragent:
      name: x-useragent
      in: header
      description: user agent information
      required: true
      schema:
        $ref: '#/components/schemas/UserAgentSchema'

  responses:
    AuthorizationResponse200:
      description: HttpStatus.OK (200)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthorizationResponse200Schema'

    TokenResponse200:
      description: HttpStatus.OK (200)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenResponse200Schema'

    Error400BadRequest:
      description: HttpStatus.BAD_REQUEST (400)
      content:
        application/json:
          example:
            errorCode: malformedRequest
          schema:
            $ref: '#/components/schemas/ErrorSchema'

    Error403Forbidden:
      description: HttpStatus.FORBIDDEN (403)
      content:
        application/json:
          example:
            errorCode: invalAuth
          schema:
            $ref: '#/components/schemas/ErrorSchema'
    
    Error404NotFound:
      description: HttpStatus.NOT_FOUND (404)
      content:
        application/json:
          example:
            errorCode: noResource
          schema:
            $ref: '#/components/schemas/ErrorSchema'

    Error409Conflict:
      description:  HttpStatus.CONFLICT (409).
      content:
        application/json:
          example:
            errorCode: statusMismatch
          schema:
            $ref: '#/components/schemas/ErrorSchema'
    
    Error500InternalError:
      description:  HttpStatus.INTERNAL_SERVER_ERROR (500)
      content:
        application/json:
          example:
            errorCode: internalError
          schema:
            $ref: '#/components/schemas/ErrorSchema'

  schemas:
    UserAgentSchema:
      description: "Information about client software with: ClientId(20 characters) + / + VersionNumber (1 to 15 characters)."
      type: string
      pattern: '^[a-zA-Z0-9\-]{1,20}\/[a-zA-Z0-9\-\.]{1,15}$'
      example: CLIENTID1234567890AB/2.1.12-45
   
    AuthorizationRequestGidSchema:
      description: Popp-fdv client sends an oauth-complaint authorization request with pkce
      type: object
      properties:
        issidp:
          description: The issuer Identifier (URL) of the IDP to be used for user authentication 
          type: string
          example: https://idp_kk.de 
        clientId:
          description: Identifier of the application registered on popp authorization server 
          type: string
          example: "myApplicationPoPPFdV"
        state:
          description: Neccecery sequrity parameter, see https://datatracker.ietf.org/doc/html/rfc8252#section-8.9
          type: "string"
          example: "myPoPPFdVGeneratedState"
        redirect_uri:
          description: Destination URL for the authorization code. The authorization code is used to redeem against an access token used in the Popp authorization server.
          type: "string"
          example: "https://myApplication.de"
        code_challenge:
          description: see https://datatracker.ietf.org/doc/html/rfc7636#section-4.2
          type: "string"
          example: "K2-mvd94bdd5i1d0x7FTD_sFNRK4cxx-vDIbpfL2u9W"
        code_challenge_method:
          description: see https://datatracker.ietf.org/doc/html/rfc7636#section-4.3
          type: "string"
          example: "S256"
        response_type:
          description: Popp-FdV client will get an authorization code, and will exchange this code against an access token.
          type: "string"
          example: "code"
    
    TokenRequestSchema:
      description: Popp-fdv client sends an oauth-complaint token request with pkce
      type: object
      properties:
        grant_type:
          description: grant type 
          type: string
          example: authorization_code
        code:
          description: authorization code 
          type: string  
          example: autorizationcode<number>
        code_verifier:
          description: pkce code verifier (see https://datatracker.ietf.org/doc/html/rfc7636#section-4.1) 
          type: string  
        clientId:
          description: Identifier of the application registered on popp authorization server 
          type: string
          example: "myApplicationPoPPFdV"
        redirect_uri:
          description: Destination URL for the access token.
          type: "string"
          example: "https://myApplication.de"
    
    AuthorizationResponse200Schema:
      description: Authorization code issued by the popp authorization server
      type: object
      properties:
        code:
          description: authorization code 
          type: string  
          example: autorizationcode<number>
        state:
          description: The status must be exactly the same as what the Popp-FDV client sent in the authorization request (see https://datatracker.ietf.org/doc/html/rfc8252#section-8.9) 
          type: string 
          example: "myPoPPFdVGeneratedState" 

    TokenResponse200Schema:
      description: Access token issued by the popp authorization server is base64 coded and signed jwt. It contains information about the KVNR of the insured person and an IK number of the health insurance company.
      type: string
      format: byte
      example: eyJhbGciOiJSUzUxMiJ9.eyJwcnVlZmJlcmljaHQiOiJvdXI2Z0dpVU0wQVFHQ3d5QnZHYUxXRDR0U21GbXVaWm9weEJEU2Y5cm1zRHBMN2tpQWlnL1hFRUVFSzJ0QkErU3RJNnhBeURSbGgvMi81c3ZNTnlYSmhaTU8zbWZGdERPLy9nZFJMZE05UkN0ZlNyaElVcHFvV1pzRWJaRk9Kdlovb1ZMbEluc01OTnVVeUVDQnF5azRjOHdoUjJ6bHhHMWRmV0VVakZWZWpqaW8rQWhzMDFyRXFqcFFUeVJYcVppLzlRbjRaRTludWRLN1lNdFJLOFhsY3JKNWgxRVlSa1dJMDNWczJVc0hVSHFId05MUG41MWNZSWhQaS81eFZNUGVhNkE3QnJKUEVNM2dwcEFMRlh0TFQwWE1tK3hwd1U3SHNzRit5ODJPQXU5SmlGcFZzMjFTVEk5NGMrSHlWeGl6b1dBbWJmY3Urdis2TGhhb2Z1M2svMFpLbXdrcldWa1hKTEM2a2lNR1VBVGEyNlZVMmJibHNuOTR2UW85WCtnQkZUUUJPMnRYaFR1d2lLMzF2bWtaMURaUjJTQ1JuYzJ5eXBEbkpjaXBTQ29BSHhlLzRTeGRZWVdKRGcybnhMNXd6cnFtZGNiSGY1UjNNMFBLTmNOMXc4TzBTbTFuVXlxcnpPb2hsVjJzTFJtSThUNFRoMXdDTWRZY2hYSkk1cHJLMkErU0lPQ3BnUi9xMGRGQy9DMEUyU0hpM3NuQTZaVjdYei9oUXJPelZzK2tpMXVVRVF5OWtrSXpVclMrMUFpOXpjdXpsZDVUVW4ySE1TcC9vWWNlVGJ2YmlwdGNIcXhQQW1hNmhCdWthSzlQcjJxaXZqMFI4QXdNMVRHTEZLeThhYk9UQjFnUmc3RVNOakZIWlZMdDhlNnF5ZmdYQVZZdkF2TGVvRFZYMGZSSDEwbEplZWJSa3N4Y1Jnd1lqSnJZY2xwMFo5a1FYTjJBV3JJR0lERkk3aHRGYncxRVcwMEQxRUZTcklYMnBJR0xmeXlEUnVmUDM4ZmhkZ2htczAiLCJzZWNyZXRLZXlFbmNyeXB0ZWRCYXNlNjRFbmNvZGVkIjoib3hUT2NhNWlidGNnNEF0Mlc0OTNlcDJrVzRyZUlob1pGMVJxOUJTVUpxUzIxaW9mdnpxSmlQbER4c1V1OTNlcE00M3RnelNRWWE4ZjZ1dkl5YVRhNjR5RHliSno4MkxmSzdFVHVwUWRoRDgyU01iTkZNYjBIYkRpLzVmYVhRcDJmUXMzNWM2V3lzd0RFU0h5enFVSE9CdWxYQTUzWnRKU3QxR1FiUkhDT3dOb0w3RU1TWnlmbFdqTlVmbDhSS2YrQ3BqSHZIaldRemF6NGZSTVIzR0RQeWpCMldFdVB0TGZSMVB1ak4vT0tGQk1TS3RETkdHK0d3SjlEQXhZM3pCMHZQOHFmblZFWDJveTloYWpzYXJ0Q3lWVys4VTI5TXJSSDVHdjBjcVdWWkFzR09saGlWWmpZRFQ2OURLYmJVY3RtdWs5SmJWRUZSQnBWcW9FdHRmNGlJYmIxNjZxSUZXQ3N1OUFEbXh3V3QyRnZpdGdvWDdSQVpTUXlSZmdScWlRMGg0SEdkY2N6eDZPcFBoWTN1MmcyMmQ4cERQeS8yOW0zbGFzQzI3Z1o1OWkzU2tKNkNvNzRsNHVpZFQrdXJvZGJnMXNmZU0rYjZWTmFXSk5vTVFWSWZhd1ova1lJYzhZUFF5Q01XLzFaRWlTVU5rRXA3Q09iYWJLYVlJVG5tSkY1OTJCTHpzbSs4MUsxQVNZcGZITy9QM3NmZHJ1Ly9Ib0wzaGxSMXUvUEcra1padi9nbFBtRlRINzl4eGFuVFkwdVZwMSt3dWlpZU9tZ0xYMTBSTnZQbVh4TGxud29wM3BwL0QzTnlNc2VpNlpHckI3a1pVVXNyb1VZVnJiTVl5VEJRNnBhN3NlblpYRzZ1VTNTQ3U0VXhTVTVuMmxQVG5OcGdydG1uc3Z0em89In0.dD0-L66X9Zijzmmp0Cbc2ZMB_avPMO5St4QIPNGfEeNc5UAi6CuK9EHvvcEBd55HvMFOHNDV_pkPEe7my5mD2maBc1__JJpol3HOr4Z_v7WROzbTJBdW865v3vrFeiHuMhUsHct-_pcdZUQZdaqFIMrLp35UdKviTRm-eyqziZEqjVfU0VCaNN-E1fUs6rCysuGpvkJY-Hz9J_nBPiUvju3lPo9RWiNLg0cUE9NhlkYlW3o_8jNpYJp-G_3ntscXv6RzwpbgYUTZ7NWiNuAH4eM1fVev1_IuskyjEnIAlq8JVzNdXDNTauyHcq2OShr78IpAU6WZqTz9VnQvPQVawmFSqHDcM7efHQ6s3kPPV2QSGE_0ugG5sFEYZ3LnY2dIU55f1E01TCKPW9kdGUcNzBRfk417huWyPcPSy1MgLVU9depxbOEJnc7aQWMyAvXJ5uVYUePf00__9B4MPGTOHWuta7cPj8CYhawpkGTAlQjiKJIswBF6ZrNKuLaA4camLEUO63hAqa5jrf02WC71tFStG5W1UPo78wXCHk3wU5SqlVQCGJPcuVe3NyUy4rO2BjAkVsuZuop4mPL8xooGobrTPVKu0563NuJSBr_OS5BdLTpYwd9DP1DM6iKTUYAN6LPBGW1jt0Ks22Pt3zPNugbIQ-uhOIprjvDrNkzeWBE
    
    ErrorSchema:
      description: Error object with additional information about the occurred error
      type: object
      properties:
        errorCode:
          description: Error condition specifier
          type: string
        errorDetail:
          description: Additional details regarding the error condition (if applicable)
          type: string
      required:
        - errorCode
