openapi: 3.1.0
info:
  title: PoPP resource server for 3rd party applications
  description: |
    This interface provides access to PoPP Service resource server for applications.
    Via this interface, client systems that implement a PoPP Module (popp-fdv) can carry out TAN generation. 
    The client system receives TAN to present it towards a practinioner system.

    This interface describe the request of TANs. 
    The Client System utilizes access token for access to the Popp server (resource server).
    

    **General conditions**:</br> 
    For all operations if applicable:
    - error responses may be extended by helpful information about the error condition in _errorDetail_

    **Prerequisites**:</br>

    - The sectoral IDP of Health insurance is registered with the TI-Federation
    - The popp authorization server is registered with the TI-Federation
    - The client system is registered with popp authorization server 
    - The client system reveived access token from the popp authorization server 


  contact:
    name: gematik GmbH
    url: 'https://www.gematik.de'

  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'

  version: 0.0.1

  # version history:
  # ----------------
  # version 0.0.1
  #   - initial version for review

servers:
- url: https://popp-service.de

tags:
- name: Authorization Health-ID
  description: |
   The insured person uses his device to authenticate himself to the health insurance company's sectoral IDP (GesundheitsID).
   The popp authorization server must know the address of the IDP (iss-idp) with which the insured is registered.
   For this reason, it is possible to view a list of registered IDPs (insurance companies) on popp-fdv.
   If the Popp authorization server does not know the IDP address of the calling popp-fdv, the insured person 
   must select their health insurance company in the popp-fdv.
   
   Authenticating a user against the IDP is a task of the authenticator belonging to the IDP on the insured person’s device. 

   A successful login provides an popp-fdv access token and causes an authorized user allowing access to the 
   protected resource (PoPP-Service) to get a TAN-Set.

- name: Authorization eHealth-Card
  description: |
   The insured person uses his eHealth-Card for validation. Popp-fdv extract cvc and c.aut from eHealth-Card and use this parameter for authorization request.
   The popp authorization server generate an card-communication access token. Popp-fdv use card-communication access token for communication with popp-service
   to read data from eHealth-Card.
   
   A successful evaluation of eHealth-Card data provides a TAN-Set.    
  
externalDocs:
  description: 'Specification: gemSpec_PoPP_Service, gemSpec_PoPP_FdV'
  url: https://gemspec.gematik.de/docs/gemSpec/

paths:
  /popp/patient/api/tan/v1/tan-request-healthid:
    parameters:
      - $ref: '#/components/parameters/useragent'
    post:
      tags:
        - Authorization Health-ID
      operationId: generateTAN2KVNR
      summary: Send request to obtain a TAN or TAN-Set. 
      description: | 
        Sends a request against popp resourec server.
       
        **Client**:</br>
        A registered popp-fdv client send a requst against resource server to get a TAN or a TAN-Set.
        The authorizaton must be "ehealthId-check" Access Token. <br/>
       
        **Provider**:</br>
        The popp resource server checks the "ehealthId-check" Access Token. The popp resource server use the read information 
        from the Access-Token to create an TANSet-Record.
        Depending on the informations of the Access-Token the popp resource server create a "short" TAN, or a "long" TAN or
        a TAN-Set with more then one "long" TAN.
        Additional the popp resource server timestamps iat and exp for the validity period of the TAN/TAN-Set. 
              
        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 | successful ||
        | Request does not match schema | 400 | malformedRequest |  |
        | "ehealthId-check" Access Token not valid| 401 | unauthorized | popp resource server don't except the Access-Token |
        | Any other error | 500 | internalError ||
 
      responses:
        '200':
          $ref: '#/components/responses/TanResponseHealthId200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '401':
          $ref: '#/components/responses/Error401UnauthorizedError'
        '500':
          $ref: '#/components/responses/Error500InternalError'

      security: 
        - bearerAuthHealtId: []

  /popp/patient/api/tan/v1/tan-request-ehc:
    parameters:
      - $ref: '#/components/parameters/useragent'
    post:
      tags:
        - Authorization eHealth-Card
      operationId: generateTAN2EHCCheck
      summary: Send request to ckeck the eHealth-Card and obtain a TAN. 
      description: | 
        Sends a request against popp resourec server.
       
        **Client**:</br>
        A registered popp-fdv client send a requst against resource server to get a TAN after check the eHealth-Card.
        The authorizaton must be "card-check" Access Token. <br/>
       
        **Provider**:</br>
        The popp resource server checks the "card-check" Access Token. The popp resource server verify the eHealth-Card
        by direct communication to the card. The popp resource server use the read card information to create an TANSet-Record.
        Depending on the informations of the Access-Token the popp resource server create a "short" TAN or a "long" TAN.
        Additional the popp resource server timestamps iat and exp for the validity period of the TAN. 
              
        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 | successful ||
        | Request does not match schema | 400 | malformedRequest |  |
        | "card-check" Access Token not valid| 401 | unauthorized | popp resource server don't except the Access-Token |
        | Any other error | 500 | internalError ||
   
      responses:
        '200':
          $ref: '#/components/responses/TanResponseHealthId200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '401':
          $ref: '#/components/responses/Error401UnauthorizedError'
        '500':
          $ref: '#/components/responses/Error500InternalError'

      security: 
        - bearerAuthEHC: []    

components:
  parameters:
    useragent:
      name: x-useragent
      in: header
      description: user agent information
      required: true
      schema:
        $ref: '#/components/schemas/UserAgentSchema'

  responses:    
    TanResponseHealthId200:
      description: |
        A JSON Web Token (JWT) with following format build according to RFC-7515:</br>
        base64url (protected_header) + '.' + base64url (payload) + '.' + base64url (signature)"</br>
        Content for device attestation:</br>
        - protected_header contains:
          - "typ": "JWT"
          - "alg": "ES256" 
        - payload claims:
          - "exp": expiry timestamp of the generated TAN/TAN-Set
          - "tan": generated TAN or TAN-Set
        - signature contains signature of popp resource server
      content:
        application/jwt:
          schema:
            $ref: '#/components/schemas/TanResponseHealthId200Schema'
          example: 
            - eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsIng1YyI6ImNlcnRpZmljYXRlIGMuZmQuc2lnIn0.eyJhY3RvcklkIjoiQTEyMzQ1Njc4OSIsICJpYXQiOjE3MzY4OTkyMDAsImV4cCI6MTczNjkwNjQwMH0.e3NpZ25hdHVyZU92ZXJIZWFkZXJBbmRQYXlsb2FkfQ
     
    TanResponseEHC200:
      description: |
        A JSON Web Token (JWT) with following format build according to RFC-7515:</br>
        base64url (protected_header) + '.' + base64url (payload) + '.' + base64url (signature)"</br>
        Content for device attestation:</br>
        - protected_header contains:
          - "typ": "JWT"
          - "alg": "ES256" 
        - payload claims:
          - "exp": expiry timestamp of the generated TAN
          - "tan": generated TAN
        - signature contains signature of popp resource server
      content:
        application/jwt:
          schema:
            $ref: '#/components/schemas/TanResponseEHC200Schema'
          example: 
            - eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsIng1YyI6ImNlcnRpZmljYXRlIGMuZmQuc2lnIn0.eyJhY3RvcklkIjoiQTEyMzQ1Njc4OSIsICJpYXQiOjE3MzY4OTkyMDAsImV4cCI6MTczNjkwNjQwMH0.e3NpZ25hdHVyZU92ZXJIZWFkZXJBbmRQYXlsb2FkfQ
    
    Error400BadRequest:
      description: HttpStatus.BAD_REQUEST (400)
      content:
        application/json:
          example:
            errorCode: malformedRequest
          schema:
            $ref: '#/components/schemas/ErrorSchema'

    Error401UnauthorizedError:
      description: HttpStatus.Unauthorized (401)
      content:
        application/json:
          example:
            errorCode: unauthorized
          schema:
            $ref: '#/components/schemas/ErrorSchema'
    
    Error403Forbidden:
      description: HttpStatus.FORBIDDEN (403)
      content:
        application/json:
          example:
            errorCode: invalAuth
          schema:
            $ref: '#/components/schemas/ErrorSchema'
    
    Error404NotFound:
      description: HttpStatus.NOT_FOUND (404)
      content:
        application/json:
          example:
            errorCode: noResource
          schema:
            $ref: '#/components/schemas/ErrorSchema'

    Error409Conflict:
      description:  HttpStatus.CONFLICT (409).
      content:
        application/json:
          example:
            errorCode: statusMismatch
          schema:
            $ref: '#/components/schemas/ErrorSchema'
    
    Error500InternalError:
      description:  HttpStatus.INTERNAL_SERVER_ERROR (500)
      content:
        application/json:
          example:
            errorCode: internalError
          schema:
            $ref: '#/components/schemas/ErrorSchema'

  schemas:
    UserAgentSchema:
      description: "Information about client software with: ClientId(20 characters) + / + VersionNumber (1 to 15 characters)."
      type: string
      pattern: '^[a-zA-Z0-9\-]{1,20}\/[a-zA-Z0-9\-\.]{1,15}$'
      examples: [CLIENTID1234567890AB/2.1.12-45]
      
    TanResponseHealthId200Schema:
      type: object
      properties:
        jwt:
          type: string
          format: application/jwt
          pattern: ^[A-Za-z0-9_-]+\.[A-Za-z0-9_-]+\.[A-Za-z0-9_-]+$
    
    TanResponseEHC200Schema:
      type: object
      properties:
        jwt:
          type: string
          format: application/jwt
          pattern: ^[A-Za-z0-9_-]+\.[A-Za-z0-9_-]+\.[A-Za-z0-9_-]+$

    ErrorSchema:
      description: Error object with additional information about the occurred error
      type: object
      properties:
        errorCode:
          description: Error condition specifier
          type: string
        errorDetail:
          description: Additional details regarding the error condition (if applicable)
          type: string
      required:
        - errorCode

  securitySchemes:
    bearerAuthHealtId:
      description: ehealthId-check Access-Token
      type: http
      scheme: bearer
      bearerFormat: JWT
    bearerAuthEHC:
      description: card-check Access-Token
      type: http
      scheme: bearer
      bearerFormat: JWT      
