openapi: 3.1.0
info:
  title: PoPP Authorization Server
  description: |
    This interface provides access to PoPP Authorization Server.</br>
    Through this interface, client systems (popp-fdv) can carry out user authentication. There are two different ways
    - Authentication of the insurant or representative using the insurant's device through sectoral IDP of 
    the health insurance company
    - Authentication of the insurant or representative using the insurant's eGK

    **General conditions**:</br> 
    For all operations if applicable:
    - error responses may be extended by helpful information about the error condition in _errorDetail_

    **Prerequisites**:</br>
    For insurant and representatives
    - The sectoral IDP of Health insurance is registered with the TI-Federation
    - The popp authorization server is registered with the TI-Federation
    - The popp-fdv client is registered with popp authorization server 
    
    
    **Retry interval**:</br>
    The following retry intervals are suggested in case of an error response:<br>
    - '500' Internal Error
      - approx. 10 minutes

  contact:
    name: gematik GmbH
    url: 'https://www.gematik.de'

  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'

  version: 1.3.3

  # version history:
  # ----------------
  # version 0.0.1
  #   - initial version for review

servers:
- url: https://popp-service.de

tags:
- name: Authorization gID
  description: |
   The insured person uses his device to authenticate himself to the health insurance company's sectoral IDP (GesundheitsID).
   The popp authorization server must know the address of the IDP (iss-idp) with which the insured is registered.
   For this reason, it is possible to view a list of registered IDPs (insurance companies) on popp-fdv.
   If the Popp authorization server does not know the IDP address of the calling popp-fdv, the insured person 
   must select their health insurance company in the popp-fdv.
   
   Authenticating a user against the IDP is a task of the authenticator belonging to the IDP on the insured person’s device. 

   A successful login provides an popp-fdv access token and causes an authorized user allowing access to the 
   protected resource (PoPP-Service) to get an OTP-Challenge.
  
  
- name: Authorization eGK
  description: |
   The insured person uses his eGK for validation. Popp-fdv extract cvc and c.aut from eGK and use this parameter for authorization request.
   The popp authorization server generate an egk-check access token. Popp-fdv use egk-check access token for communication with popp-service
   to read data from egk.
   
   A successful evaluation of egk data provides an OTP-Challenge. 
   
- name: Access
  description: |
    Popp-fdv use an authorization code to get an access token (popp-fdv access token or egk-check access token) from popp authorization server. 
    Popp-fdv uses the access token to gain access to the Popp service and start the OTP initialization process.

externalDocs:
  description: 'Specification: gemSpec_PoPP_Service, gemSpec_PoPP_FdV'
  url: https://gemspec.gematik.de/docs/gemSpec/

paths:
  /popp/authz/auth/v1/sendAuthorizationRequestEgk:
    parameters:
      - $ref: '#/components/parameters/useragent'
    post:
      tags:
        - Authorization eGK
      operationId: sendAuthorizationRequesteGK
      summary: (sendAuthorizationRequesteGK) Send authorization request for authentication with eGK
      externalDocs:
        description: 'gemSpec_popp_service, Kapitel 3.3.2 Authentisierung des Versicherten mit eGK (mobil)'
        url: https://gemspec.gematik.de/docs/gemSpec/
      description: | 
        Sends an authorization request to the authorization service with information from eGK of tehe insurend person.
         </br>
        | Preconditions                        | Remarks |
        |---------------------------------------|---------|
        | popp-fdv has read CVC and C.AUT from eGK|  CVC und C.AUT are neccecary for eGK validation|
       
        **Client**:</br>
        A registered popp-fdv client must send an OAuth-compliant request to the Popp authorization server.
        To defend against attacks, the popp-fdv client must use pkce (Proof Key for Code Exchange). 
        The code challenge method (code_challenge_method) must be “S256”. The response type (response_type) must be "code".
        The authorization request must send additional parameter cvc and c.aut.<br/>
       
        **Provider**:</br>
        The popp authorization server create an access token (egk-check access token). The access token includes information about
        cvc and c.aut. The egk-check access token is signed with a key was published in entity statement of popp authorization server.
        The popp-fdv use egk-check access token to get access to popp-service for creation a direct communication cannel 
        between eGK and popp-service.

        After creation egk-check access token popp authorization server create an authorization code for the calling popp-fdv.  

        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 | successful ||
        | Request does not match schema | 400 | malformedRequest |  |
        | clientid value mismatch | 403 | invalData | popp authorization server didn't know clientid value |
        | Any other error | 500 | internalError ||

         </br>
        | Postconditions                        | Remarks |
        |---------------------------------------|---------|
        | popp-fdv have to exchange authorization code against access token |  |

      requestBody:
        description: >-
            Authorization Request is an OAuth complaint request used Proof Key for Code Exchange by OAuth Public Clients (see https://datatracker.ietf.org/doc/html/rfc763).
        required: true
        content: 
          application/json:
           schema: 
             $ref: '#/components/schemas/AuthorizationRequestEgk'
      
      responses:
        '200':
          $ref: '#/components/responses/AuthorizationResponse200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '500':
          $ref: '#/components/responses/Error500InternalError'
      
  /popp/authz/auth/v1/sendAuthorizationRequestGid:
    parameters:
      - $ref: '#/components/parameters/useragent'
    post:
      tags:
        - Authorization gID
      operationId: sendAuthorizationRequestGid
      summary: (sendAuthorizationRequestGid) Send authorization request for authentication with GesundheitsID 
      externalDocs:
        description: 'gemSpec_IDP_Sek, table "Authorization Request von Anwendungsfrontend zum Authorization-Server"'
        url: https://gemspec.gematik.de/docs/gemSpec/
      description: | 
        Sends an authorization request to the authorization service for authentication with GesundheitsID.
       
        **Client**:</br>
        A registered popp-fdv client must send an OAuth-compliant request to the Popp authorization server.
        To defend against attacks, the popp-fdv client must use pkce (Proof Key for Code Exchange). 
        The code challenge method (code_challenge_method) must be “S256”. The response type (response_type) must be "code".<br/>
       
        **Provider**:</br>
        The poppp authorization server shall send a pushed authorization request (PAR) to the IDP 
        (see: gemSpec_IDP_Sek, table "Parameter Pushed Authorization Request").
        To defend against attacks, the popp authorization server must use pkce (Proof Key for Code Exchange) too. 
        The code challenge method (code_challenge_method) must be “S256”. The response type (response_type) must be "code".
        It is neccecary to generate and propagate a "nonce" parameter.
        The acr-value in the PAR must be "gematic_ehealth_loa_high", the scope parameter used in the PAR must be "urn:telematik:versicherter".  

        The authorization server state value and clientid used for the PAR shall occur in the URI-PAR response of the IDP.
        After successful authentication popp authorization server create an authorization code for the calling popp-fdv.

        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 | successful ||
        | Request does not match schema | 400 | malformedRequest |  |
        | clientid value mismatch | 403 | invalData | popp authorization server didn't know clientid value |
        | Invalid URI (idp-iss) | 404 | noResource | uri for idp do not exist or ist not registered on TI-Federation|
        | Any other error | 500 | internalError ||
 
         </br>
        | Postconditions                        | Remarks |
        |---------------------------------------|---------|
        | popp-fdv have to exchange authorization code against access token |  |
      
      requestBody:
        description: >-
            Authorization Request is an OAuth complaint request used Proof Key for Code Exchange by OAuth Public Clients (see https://datatracker.ietf.org/doc/html/rfc763).
        required: true
        content: 
          application/json:
           schema: 
             $ref: '#/components/schemas/AuthorizationRequestGid'
      
      responses:
        '200':
          $ref: '#/components/responses/AuthorizationResponse200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: '#/components/responses/Error404NotFound'
        '500':
          $ref: '#/components/responses/Error500InternalError'
 
  /popp/authz/token/v1/getAccessToken:
    parameters:
      - $ref: '#/components/parameters/useragent'
    post:
      tags:
        - Access
      operationId: getAccessToken
      summary: (getAccessToken) Send token request to obtain an access token from popp authorization server
      description: | 
        Sends an token request against popp authorization server.

         </br>
        | Preconditions                        | Remarks |
        |---------------------------------------|---------|
        | popp-fdv has an authorization code was created by the popp auhtorization server |  |
       
        **Client**:</br>
        A registered popp-fdv client must send token requst against authorization server to get an access token.
        The parameter grand type (grant_type) must be "authorization_code". <br/>
       
        **Provider**:</br>
        The poppp authorization server checks the authorization code and the code verifier. Depending on the authorization code  
        the popp authorization server sends an egk-check access token or a popp-fdv access token to the popp-fdv.  

      
        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 | successful ||
        | Request does not match schema | 400 | malformedRequest |  |
        | mismatch authorizationcode or code verifier or clientId | 403 | invalData | popp authorization server didn't know clientid value or pkce proof failed |
        | Any other error | 500 | internalError ||
 
      
      requestBody:
        description: >-
            Token Request is an OAuth complaint request used Proof Key for Code Exchange by OAuth Public Clients (see https://datatracker.ietf.org/doc/html/rfc763).
        required: true
        content: 
          application/json:
           schema: 
             $ref: '#/components/schemas/TokenRequest'
      
      responses:
        '200':
          $ref: '#/components/responses/TokenResponse200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '500':
          $ref: '#/components/responses/Error500InternalError'


components:
  parameters:
    useragent:
      name: x-useragent
      in: header
      description: user agent information
      required: true
      schema:
        $ref: '#/components/schemas/UserAgentType'
    authorize_validation:
      name: x-authorize-validation
      in: header
      description: This parameter shall be absent or set to _true_ to indicate an authorization request for validation identities. 
      required: false
      schema:
        type: boolean
        enum: [true]
        example: true

  responses:
    AuthorizationResponse200:
      description: HttpStatus.OK (200)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthorizationResponse200Type'

    TokenResponse200:
      description: HttpStatus.OK (200)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenResponse200Type'

    Error400BadRequest:
      description: HttpStatus.BAD_REQUEST (400)
      content:
        application/json:
          example:
            errorCode: malformedRequest
          schema:
            $ref: '#/components/schemas/ErrorType'

    Error403Forbidden:
      description: HttpStatus.FORBIDDEN (403)
      content:
        application/json:
          example:
            errorCode: invalAuth
          schema:
            $ref: '#/components/schemas/ErrorType'
    
    Error404NotFound:
      description: HttpStatus.NOT_FOUND (404)
      content:
        application/json:
          example:
            errorCode: noResource
          schema:
            $ref: '#/components/schemas/ErrorType'

    Error409Conflict:
      description:  HttpStatus.CONFLICT (409).
      content:
        application/json:
          example:
            errorCode: statusMismatch
          schema:
            $ref: '#/components/schemas/ErrorType'
    
    Error500InternalError:
      description:  HttpStatus.INTERNAL_SERVER_ERROR (500)
      content:
        application/json:
          example:
            errorCode: internalError
          schema:
            $ref: '#/components/schemas/ErrorType'

  schemas:
    UserAgentType:
      description: "Information about client software with: ClientId(20 characters) + / + VersionNumber (1 to 15 characters)."
      type: string
      pattern: '^[a-zA-Z0-9\-]{1,20}\/[a-zA-Z0-9\-\.]{1,15}$'
      example: CLIENTID1234567890AB/2.1.12-45
    AuthorizationRequestGid:
      description: Popp-fdv client sends an oauth-complaint authorization request with pkce
      type: object
      properties:
        issidp:
          description: The issuer Identifier (URL) of the IDP to be used for user authentication 
          type: string
          example: https://idp_kk.de 
        clientId:
          description: Identifier of the application registered on popp authorization server 
          type: string
          example: "myApplicationPoPPFdV"
        state:
          description: Neccecery sequrity parameter, see https://datatracker.ietf.org/doc/html/rfc8252#section-8.9
          type: "string"
          example: "myPoPPFdVGeneratedState"
        redirect_uri:
          description: Destination URL for the authorization code. The authorization code is used to redeem against an access token used in the Popp authorization server.
          type: "string"
          example: "https://myApplication.de"
        code_challenge:
          description: see https://datatracker.ietf.org/doc/html/rfc7636#section-4.2
          type: "string"
          example: "K2-mvd94bdd5i1d0x7FTD_sFNRK4cxx-vDIbpfL2u9W"
        code_challenge_method:
          description: see https://datatracker.ietf.org/doc/html/rfc7636#section-4.3
          type: "string"
          example: "S256"
        response_type:
          description: Popp-FdV client will get an authorization code, and will exchange this code against an access token.
          type: "string"
          example: "code"
    AuthorizationRequestEgk:
      description: Popp-fdv client sends an oauth-complaint authorization request with pkce
      type: object
      properties:
        cvcegk:
          description: cvc read from egk of the insurend person 
          type: string
        cauthegk:
          description: c.aut read from egk of the insurend person 
          type: string  
        clientId:
          description: Identifier of the application registered on popp authorization server 
          type: string
          example: "myApplicationPoPPFdV"
        state:
          description: Neccecery sequrity parameter, see https://datatracker.ietf.org/doc/html/rfc8252#section-8.9
          type: "string"
          example: "myPoPPFdVGeneratedState"
        redirect_uri:
          description: Destination URL for the authorization code. The authorization code is used to redeem against an access token used in the Popp authorization server.
          type: "string"
          example: "https://myApplication.de"
        code_challenge:
          description: see https://datatracker.ietf.org/doc/html/rfc7636#section-4.2
          type: "string"
          example: "K2-mvd94bdd5i1d0x7FTD_sFNRK4cxx-vDIbpfL2u9W"
        code_challenge_method:
          description: see https://datatracker.ietf.org/doc/html/rfc7636#section-4.3
          type: "string"
          example: "S256"
        response_type:
          description: Popp-FdV client will get an authorization code, and will exchange this code against an access token.
          type: "string"
          example: "code"
    TokenRequest:
      description: Popp-fdv client sends an oauth-complaint token request with pkce
      type: object
      properties:
        grant_type:
          description: grant type 
          type: string
          example: authorization_code
        code:
          description: authorization code 
          type: string  
          example: egkcheck_autorizationcode<number>
        code_verifier:
          description: pkce code verifier (see https://datatracker.ietf.org/doc/html/rfc7636#section-4.1) 
          type: string  
        clientId:
          description: Identifier of the application registered on popp authorization server 
          type: string
          example: "myApplicationPoPPFdV"
        redirect_uri:
          description: Destination URL for the access token.
          type: "string"
          example: "https://myApplication.de"
    AuthorizationResponse200Type:
      description: Popp autorization server sends an authorization code
      type: object
      properties:
        code:
          description: authorization code 
          type: string  
          example: egkcheck_autorizationcode<number>
        state:
          description: The status must be exactly the same as what the Popp-FDV client sent in the authorization request (see https://datatracker.ietf.org/doc/html/rfc8252#section-8.9) 
          type: string 
          example: "myPoPPFdVGeneratedState" 

    TokenResponse200Type:
      description: Popp autorization server sends an access token
      type: object
      properties:
        accesstoken:
          description: access token 
          type: string     

    ErrorType:
      description: Error object with additional information about the occurred error
      type: object
      properties:
        errorCode:
          description: Error condition specifier
          type: string
        errorDetail:
          description: Additional details regarding the error condition (if applicable)
          type: string
      required:
        - errorCode
