openapi: 3.1.0
info:
  title: PoPP Authorization Server
  description: |
    This interface provides access to PoPP Authorization Server.</br>
    Using this interface, customer systems (popp-fdv) can carry out user authentication 
    via the insurer's eHealth-Card with a smartphone. 
    The Popp FDV receives an card-checked access token for access to the Popp server (resource server).

    **General conditions**:</br> 
    For all operations if applicable:
    - error responses may be extended by helpful information about the error condition in _errorDetail_

    **Prerequisites**:</br>
    For insurant and representatives
    - The popp-fdv client is registered with popp authorization server 
    - The popp-fdv client can read public data from eHealth-Card
    
    
    **Retry interval**:</br>
    The following retry intervals are suggested in case of an error response:<br>
    - '500' Internal Error
      - approx. 10 minutes

  contact:
    name: gematik GmbH
    url: 'https://www.gematik.de'

  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'

  version: 0.0.1

  # version history:
  # ----------------
  # version 0.0.1
  #   - initial version for review

servers:
- url: https://popp-service.de

tags:
- name: Authorization eHealth-Card
  description: |
   The insured person uses his eHealth-Card for validation. Popp-fdv extract cvc and c.aut from eHealth-Card and use this parameter for authorization request.
   The popp authorization server generate an card-communication access token. Popp-fdv use card-communication access token for communication with popp-service
   to read data from eHealth-Card.
   
   A successful evaluation of eHealth-Card data provides an OTP-Challenge. 

   
externalDocs:
  description: 'Specification: gemSpec_PoPP_Service, gemSpec_PoPP_FdV'
  url: https://gemspec.gematik.de/docs/gemSpec/

paths:
  /popp/authz/auth/v1/sendAuthorizationRequestEHC:
    parameters:
      - $ref: '#/components/parameters/useragent'
    post:
      tags:
        - Authorization eHealth-Card
      operationId: sendAuthorizationRequestEHC
      summary: (sendAuthorizationRequestEHC) Send authorization request for authentication with eHealth-Card
      externalDocs:
        description: 'gemSpec_popp_service, Kapitel 3.3.2 Authentisierung des Versicherten mit eGK (mobil)'
        url: https://gemspec.gematik.de/docs/gemSpec/
      description: | 
        Sends an authorization request to the authorization service with information from eHealth-Card of the insurend person.
         </br>
        | Preconditions                        | Remarks |
        |---------------------------------------|---------|
        | popp-fdv has read CVC and C.AUT from eHealth-Card|  CVC und C.AUT are neccecary for eHealth-Card validation|
       
        **Client**:</br>
        A registered popp-fdv client must send an OAuth-compliant request to the Popp authorization server.
        To defend against attacks, the popp-fdv client must use pkce (Proof Key for Code Exchange). 
        The code challenge method (code_challenge_method) must be “S256”. The response type (response_type) must be "code".
        The authorization request must send additional parameter cvc and c.aut.<br/>
       
        **Provider**:</br>
        The popp authorization server create an access token (card-communication access token). The access token includes information about
        cvc and c.aut. The card-communication access token is signed with a key was published in entity statement of popp authorization server.
        The popp-fdv use card-communication access token to get access to popp-service for creation a direct communication cannel 
        between eHealth-Card and popp-service.

        After creation card-communication access token popp authorization server create an authorization code for the calling popp-fdv.  

        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 | successful ||
        | Request does not match schema | 400 | malformedRequest |  |
        | clientid value mismatch | 403 | invalData | popp authorization server didn't know clientid value |
        | Any other error | 500 | internalError ||

         </br>
        | Postconditions                        | Remarks |
        |---------------------------------------|---------|
        | popp-fdv have to exchange authorization code against access token |  |

      requestBody:
        description: >-
            Authorization Request is an OAuth complaint request used Proof Key for Code Exchange by OAuth Public Clients (see https://datatracker.ietf.org/doc/html/rfc763).
        required: true
        content: 
          application/json:
           schema: 
             $ref: '#/components/schemas/AuthorizationRequestEHCSchema'
      
      responses:
        '200':
          $ref: '#/components/responses/AuthorizationResponse200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '500':
          $ref: '#/components/responses/Error500InternalError'  
 
  /popp/authz/token/v1/sendAuthCodeFdV:
    parameters:
      - $ref: '#/components/parameters/useragent'
    post:
      tags:
        - Authorization eHealth-Card
      operationId: sendAuthCodeFdV
      summary: (sendAuthCodeFdV) Send token request to obtain an access token from popp authorization server
      description: | 
        Sends an token request against popp authorization server.

         </br>
        | Preconditions                        | Remarks |
        |---------------------------------------|---------|
        | popp-fdv has an authorization code was created by the popp auhtorization server |  |
       
        **Client**:</br>
        A registered popp-fdv client must send token requst against authorization server to get an access token.
        The parameter grand type (grant_type) must be "authorization_code". <br/>
       
        **Provider**:</br>
        The poppp authorization server checks the authorization code and the code verifier. Depending on the authorization code  
        the popp authorization server sends an card-communication access token or a popp-fdv access token to the popp-fdv.  

      
        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 | successful ||
        | Request does not match schema | 400 | malformedRequest |  |
        | mismatch authorizationcode or code verifier or clientId | 403 | invalData | popp authorization server didn't know clientid value or pkce proof failed |
        | Any other error | 500 | internalError ||
 
      
      requestBody:
        description: >-
            Token Request is an OAuth complaint request used Proof Key for Code Exchange by OAuth Public Clients (see https://datatracker.ietf.org/doc/html/rfc763).
        required: true
        content: 
          application/json:
           schema: 
             $ref: '#/components/schemas/TokenRequestSchema'
      
      responses:
        '200':
          $ref: '#/components/responses/TokenResponse200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '500':
          $ref: '#/components/responses/Error500InternalError'


components:
  parameters:
    useragent:
      name: x-useragent
      in: header
      description: user agent information
      required: true
      schema:
        $ref: '#/components/schemas/UserAgentSchema'

  responses:
    AuthorizationResponse200:
      description: HttpStatus.OK (200)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthorizationResponse200Schema'

    TokenResponse200:
      description: JSON web token (card-checked access token) for access the popp-service
      content:
        application/jwt:
          schema:
            type: string
            pattern: ^([a-zA-Z0-9_=]+)\.([a-zA-Z0-9_=]+)\.([a-zA-Z0-9_\-\+\/=]+)$
            example:
              - "dfsdfdfdfee.ererererereree.ererereerre"

    Error400BadRequest:
      description: HttpStatus.BAD_REQUEST (400)
      content:
        application/json:
          example:
            errorCode: malformedRequest
          schema:
            $ref: '#/components/schemas/ErrorSchema'

    Error403Forbidden:
      description: HttpStatus.FORBIDDEN (403)
      content:
        application/json:
          example:
            errorCode: invalAuth
          schema:
            $ref: '#/components/schemas/ErrorSchema'
    
    Error404NotFound:
      description: HttpStatus.NOT_FOUND (404)
      content:
        application/json:
          example:
            errorCode: noResource
          schema:
            $ref: '#/components/schemas/ErrorSchema'

    Error409Conflict:
      description:  HttpStatus.CONFLICT (409).
      content:
        application/json:
          example:
            errorCode: statusMismatch
          schema:
            $ref: '#/components/schemas/ErrorSchema'
    
    Error500InternalError:
      description:  HttpStatus.INTERNAL_SERVER_ERROR (500)
      content:
        application/json:
          example:
            errorCode: internalError
          schema:
            $ref: '#/components/schemas/ErrorSchema'

  schemas:
    UserAgentSchema:
      description: "Information about client software with: ClientId(20 characters) + / + VersionNumber (1 to 15 characters)."
      type: string
      pattern: '^[a-zA-Z0-9\-]{1,20}\/[a-zA-Z0-9\-\.]{1,15}$'
      example: CLIENTID1234567890AB/2.1.12-45
    
    AuthorizationRequestEHCSchema:
      description: Popp-fdv client sends an oauth-complaint authorization request with pkce
      type: object
      properties:
        cvcehc:
          description: cvc read from eHealth-Card of the insurend person 
          type: string
        cauthehc:
          description: c.aut read from eHealth-Card of the insurend person 
          type: string  
        clientId:
          description: Identifier of the application registered on popp authorization server 
          type: string
          example: "myApplicationPoPPFdV"
        state:
          description: Neccecery sequrity parameter, see https://datatracker.ietf.org/doc/html/rfc8252#section-8.9
          type: "string"
          example: "myPoPPFdVGeneratedState"
        redirect_uri:
          description: Destination URL for the authorization code. The authorization code is used to redeem against an access token used in the Popp authorization server.
          type: "string"
          example: "https://myApplication.de"
        code_challenge:
          description: see https://datatracker.ietf.org/doc/html/rfc7636#section-4.2
          type: "string"
          example: "K2-mvd94bdd5i1d0x7FTD_sFNRK4cxx-vDIbpfL2u9W"
        code_challenge_method:
          description: see https://datatracker.ietf.org/doc/html/rfc7636#section-4.3
          type: "string"
          example: "S256"
        response_type:
          description: Popp-FdV client will get an authorization code, and will exchange this code against an access token.
          type: "string"
          example: "code"
    
    TokenRequestSchema:
      description: Popp-fdv client sends an oauth-complaint token request with pkce
      type: object
      properties:
        grant_type:
          description: grant type 
          type: string
          example: authorization_code
        code:
          description: authorization code 
          type: string  
          example: cardcommunication_autorizationcode<number>
        code_verifier:
          description: pkce code verifier (see https://datatracker.ietf.org/doc/html/rfc7636#section-4.1) 
          type: string  
        clientId:
          description: Identifier of the application registered on popp authorization server 
          type: string
          example: "myApplicationPoPPFdV"
        redirect_uri:
          description: Destination URL for the access token.
          type: "string"
          example: "https://myApplication.de"
    
    AuthorizationResponse200Schema:
      description: Popp autorization server sends an authorization code fd
      type: object
      properties:
        code:
          description: Authorization code issued by the popp authorization server
          type: string  
          example: cardcommunication_autorizationcode<number>
        state:
          description: The status must be exactly the same as what the Popp-FDV client sent in the authorization request (see https://datatracker.ietf.org/doc/html/rfc8252#section-8.9) 
          type: string 
          example: "myPoPPFdVGeneratedState" 

    ErrorSchema:
      description: Error object with additional information about the occurred error
      type: object
      properties:
        errorCode:
          description: Error condition specifier
          type: string
        errorDetail:
          description: Additional details regarding the error condition (if applicable)
          type: string
      required:
        - errorCode
