openapi: 3.1.0
info:
  title: PoPP-FdV
  description: |
    This interface is for communication eHealth-Card with PoPP-Service.</br>
    PoPP-Service is opening a communication channel to send APDU-Commands to the eHealth-Card.
    PoPP-Server is validate eHealth-Card answers. Is the communication successful finished PoPP-Server create an 
    OTP-Challenge for the PoPP-FdV.

    **General conditions**:</br> 
    For all operations if applicable:
    - error responses may be extended by helpful information about the error condition in _errorDetail_

    **Prerequisites**:</br>
    For insurant and representatives
    - The popp-fdv client has read public data from eHealth-Card
    - The popp authorization server has issued a card-communication access token to the popp-fdv client
    
    
    **Retry interval**:</br>
    The following retry intervals are suggested in case of an error response:<br>
    - '500' Internal Error
      - approx. 10 minutes

  contact:
    name: gematik GmbH
    url: 'https://www.gematik.de'

  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'

  version: 0.0.1

  # version history:
  # ----------------
  # version 0.0.1
  #   - initial version for review

servers:
- url: https://popp-service.de

tags:
- name: eHealth-Card communication
  description: |
   todo ..

   If the eHealth-Card communication was successful, PoPP-Service send an OTP-Challenge to PoPP-FdV.
  
  
- name: OTPChallenge
  description: |
   todo
   
   If the validation of the popp-fdv access token was successful, PoPP-Service send an OTP-Challenge to PoPP-FdV. 
   

externalDocs:
  description: 'Specification: gemSpec_PoPP_Service, gemSpec_PoPP_FdV'
  url: https://gemspec.gematik.de/docs/gemSpec/

paths:
  /popp/service/v1/sendEHCCommunicationRequest:
    parameters:
      - $ref: '#/components/parameters/useragent'
    post:
      tags:
        - eHealth-Card communication
      operationId: sendEHCCommunicationRequest
      summary: (sendEHCCommunicationRequest) Send todo ....
      externalDocs:
        description: 'gemSpec_popp_service, Kapitel 3.3.2 Authentisierung des Versicherten mit eGK (mobil)'
        url: https://gemspec.gematik.de/docs/gemSpec/
      description: | 
        todo

      requestBody:
        description: >-
            card-communication access token
        required: true
        content: 
          application/json:
           schema: 
             $ref: '#/components/schemas/CardCommunicationAccessTokenSchema'
      
      responses:
        '200':
          $ref: '#/components/responses/CardCommunicationResponse200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '500':
          $ref: '#/components/responses/Error500InternalError'

  /popp/service/v1/getOTPChallenge:
    parameters:
      - $ref: '#/components/parameters/useragent'
    post:
      tags:
        - OTPChallenge
      operationId: getOTPChallenge
      summary: (getOTPChallenge) Get ...
      externalDocs:
        description: 'gemSpec_popp_service, Kapitel 3.3.2 Authentisierung des Versicherten mit eGK (mobil)'
        url: https://gemspec.gematik.de/docs/gemSpec/
      description: | 
        todo
      requestBody:
        description: >-
            Authorization Request is an OAuth complaint request used Proof Key for Code Exchange by OAuth Public Clients (see https://datatracker.ietf.org/doc/html/rfc763).
        required: true
        content: 
          application/json:
           schema: 
             $ref: '#/components/schemas/OTPChallengeSchema'
      
      responses:
        '200':
          $ref: '#/components/responses/OTPChallengeResponse200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '500':
          $ref: '#/components/responses/Error500InternalError'
      
  /popp/service/v1/sendInitializationResponse:
    parameters:
      - $ref: '#/components/parameters/useragent'
    post:
      tags:
        - Authorization gID
      operationId: sendInitializationResponse
      summary: (sendInitializationResponse) Send ...
      externalDocs:
        description: 'gemSpec_IDP_Sek, table "Authorization Request von Anwendungsfrontend zum Authorization-Server"'
        url: https://gemspec.gematik.de/docs/gemSpec/
      description: | 
       
      requestBody:
        description: >-
            Authorization Request is an OAuth complaint request used Proof Key for Code Exchange by OAuth Public Clients (see https://datatracker.ietf.org/doc/html/rfc763).
        required: true
        content: 
          application/json:
           schema: 
             $ref: '#/components/schemas/OTPInitializationSchema'
      
      responses:
        '200':
          $ref: '#/components/responses/OTPInitializationResponse200'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: '#/components/responses/Error404NotFound'
        '500':
          $ref: '#/components/responses/Error500InternalError'
 
  

components:
  parameters:
    useragent:
      name: x-useragent
      in: header
      description: user agent information
      required: true
      schema:
        $ref: '#/components/schemas/UserAgentSchema'
    authorize_validation:
      name: x-authorize-validation
      in: header
      description: This parameter shall be absent or set to _true_ to indicate an authorization request for validation identities. 
      required: false
      schema:
        type: boolean
        enum: [true]
        example: true

  responses:
    CardCommunicationResponse200:
      description: HttpStatus.OK (200)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CardCommunicationResponse200Schema'

    OTPInitializationResponse200:
      description: HttpStatus.OK (200)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ OTPInitializationResponse200Schema'

    Error400BadRequest:
      description: HttpStatus.BAD_REQUEST (400)
      content:
        application/json:
          example:
            errorCode: malformedRequest
          schema:
            $ref: '#/components/schemas/ErrorType'

    Error403Forbidden:
      description: HttpStatus.FORBIDDEN (403)
      content:
        application/json:
          example:
            errorCode: invalAuth
          schema:
            $ref: '#/components/schemas/ErrorType'
    
    Error404NotFound:
      description: HttpStatus.NOT_FOUND (404)
      content:
        application/json:
          example:
            errorCode: noResource
          schema:
            $ref: '#/components/schemas/ErrorType'

    Error409Conflict:
      description:  HttpStatus.CONFLICT (409).
      content:
        application/json:
          example:
            errorCode: statusMismatch
          schema:
            $ref: '#/components/schemas/ErrorType'
    
    Error500InternalError:
      description:  HttpStatus.INTERNAL_SERVER_ERROR (500)
      content:
        application/json:
          example:
            errorCode: internalError
          schema:
            $ref: '#/components/schemas/ErrorType'

  schemas:
    UserAgentSchema:
      description: "Information about client software with: ClientId(20 characters) + / + VersionNumber (1 to 15 characters)."
      type: string
      pattern: '^[a-zA-Z0-9\-]{1,20}\/[a-zA-Z0-9\-\.]{1,15}$'
      example: CLIENTID1234567890AB/2.1.12-45
    
    CardCommunicationAccessTokenSchema:
      description: todo
      type: object
      properties:
        prop1:
          description: todo
          type: string
          example: example 1

    OTPChallengeSchema:
      description: todo
      type: object
      properties:
        prop1:
          description: todo
          type: string
          example: example 1

    OTPInitializationSchema:
      description: todo
      type: object
      properties:
        prop1:
          description: todo
          type: string
          example: example 1
   
    CardCommunicationResponse200Schema:
      description: Popp autorization server sends an authorization code
      type: object
      properties:
        code:
          description: authorization code 
          type: string  
          example: eHealth-Card_autorizationcode<number>
        state:
          description: The status must be exactly the same as what the Popp-FDV client sent in the authorization request (see https://datatracker.ietf.org/doc/html/rfc8252#section-8.9) 
          type: string 
          example: "myPoPPFdVGeneratedState" 

    OTPInitializationResponse200Schema:
      description: todo
      type: object
      properties:
        accesstoken:
          description: access token 
          type: string     

    ErrorType:
      description: Error object with additional information about the occurred error
      type: object
      properties:
        errorCode:
          description: Error condition specifier
          type: string
        errorDetail:
          description: Additional details regarding the error condition (if applicable)
          type: string
      required:
        - errorCode
